/*------------------- defaults -------------------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ecf2ff;
    font-family: 'Hanken Grotesk', serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*------------------- conteiners ------------------- */

.container {
    width: 800px;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*------------------- results ------------------- */

.resultBox {
    color: #ffffff;
    background: rgb(46, 43, 233);
    background: linear-gradient(0deg, rgba(46, 43, 233, 1) 0%, rgba(120, 87, 255, 1) 100%);
    width: 42%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

p {
    font-size: 1rem;
}
.resultBox h3,
p {
    opacity: 0.68;
    font-weight: 500;
    padding: 10px;
}

h3 {
    font-size: 1.4rem;
}

/* ----------- circle inside box  ------------*/

.circle {
    width: 200px;
    height: 200px;
    background: rgb(74, 60, 241);
    background: linear-gradient(0deg, rgba(74, 60, 241, 1) 0%, rgba(77, 35, 202, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    font-size: 1.6rem;
    margin: 10px 0;
}

.circle p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.44;
    padding-top: 0;
}

/*------------------- summary ------------------- */

.summaryBox {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0px 15px 15px 0;
    padding: 15px 40px;
}

.summaryBox h3 {
    font-weight: 500;
    margin: 22px 0;
    text-align: left;
    /* padding: 10px; */
    color: hsl(224, 30%, 27%);
}

/*------------------- icons ------------------- */

.icon {
    width: 20px;
    height: 20px;
}

/*------------------- scores ------------------- */

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.reactionScore,
.memoryScore,
.verbalScore,
.visualScore {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 15px;
    height: 50px;
}

.reactionScore p.color {
    color: #ff5757;
}

.memoryScore p.color {
    color: #ffb01f;
}

.verbalScore p.color {
    color: #00bd91;
}

.visualScore p.color {
    color: #1125d4;
}

.reactionScore {
    background-color: #fff7f8;
}

.memoryScore {
    background-color: #fff9f6;
}

.verbalScore {
    background-color: #f2fdf9;
}

.visualScore {
    background-color: #f5f3ff;
}

/*------------------- button -------------------*/

.btn {
    background-color: #303b59;
    height: 50px;
    border-radius: 30px;
    font-weight: 500;
    color: #ffffff;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
}

.btn:hover {
    background: rgb(46, 43, 233);
    background: linear-gradient(0deg, rgba(46, 43, 233, 1) 0%, rgba(120, 87, 255, 1) 100%);
    transition: background-color 2s ease-in;
}

.btn:not(:hover) {
    transition: background-color 0.2s ease-out;
}
